@model IEnumerable<Loto.Prize.Presentation.Models.VolanteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Apostas</h1>

<p>
    <a asp-action="Create">Faça sua aposta</a>
</p>
<table class="table">
    <thead>
        <tr>
           
@*             <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJogo)
            </th>  *@
            <th>Nome Participante</th>
            <th>Números escolhidos</th>
            <th>Data da aposta</th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            <tr>
@*              <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NomeParticipante)
            </td>  

                <td>
                    @foreach (var numero in item.NumerosEscolhidos.Split(";").ToList())
                    {
                        <p class="numero-escolhido">@numero</p>
                    }
                </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DataVolante)
            </td>
                @if (ViewBag.Admin == "true")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
         
        </tr>
}
    </tbody>
</table>
