@model IEnumerable<JogoModel>

@{
    ViewData["title"] = "Sorteios/Jogos Criados";
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Jogos Criados</h1>
        @if (ViewBag.Admin == "true")
        {
            <a class="btn btn-success mx-2" asp-controller="Jogo" asp-action="Criar">Fazer novo Sorteio/Jogo</a>
        }
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome Jogo</th>
                <th scope="col">Qtde de Números</th>
                <th scope="col">Minímo de escolhas</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Data do Sorteio</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var jogos in Model)
                {
                    <tr>
                        <th scope="row">@jogos.Nome</th>
                        <th scope="row">@jogos.TotalNumero</th>
                        <th scope="row">@jogos.QuantidadeNumeroSelecao</th>
                        <th scope="col">@jogos.DataCriacao</th>
                        <th scope="row">@jogos.DataSorteio</th>
                        @if (ViewBag.Admin == "true")
                        {
                            <td>
                                <a class="btn btn-warning mx-2" asp-controller="Jogo" asp-action="Editar" asp-route-id="@jogos.Id">Editar</a>
                                <a class="btn btn-danger mx-2" asp-controller="Jogo" asp-action="Excluir" asp-route-id="@jogos.Id">Excluir</a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

</div>