@model JogoModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-10" style="min-height:75vh;">

        @if (Model != null)
        {
            <div class="border-radius h-100 rounded-5" id="sorteio-resultado">
                <div class="bg-success rounded" id="infoCabecalho">
                    <div class="d-flex flex-column" id="infoStatus">
                        <p class="text-light m-1">Data de sorteio <strong>@Model.DataSorteio.ToString("dd/MM/yyyy")</strong></p>
                        <h2 class="text-warning fw-bold m-2">@Model.Nome.ToUpper()</h2>
                    </div>
                    <div class="bg-success text-light" id="infoPremio">
                        <h3>Premio @Model.Premio</h3>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center" id="numerosSorteados">
                    <div class="d-flex flex-row justify-content-center my-5" id="Sorteio88">
                        @{var numerosOrdenados = Model.NumerosSorteados.Split(";").OrderBy(n => int.Parse(n)).ToList();
                            @foreach (var numero in numerosOrdenados)
                            {
                                <p class="resultado-loteria">@numero</p>
                            }
                        }
                    </div>
                    <div class="w-50 text-center d-flex justify-content-center" id="proxSorteio">
                        <p class="bg-secondary">
                            @if (ViewBag.Jogo != null)
                            {
                               @*  <p class="bg-secondary m-1">Próximo sorteio, @ViewBag.Jogo.DataSorteio.DayOfWeek, @ViewBag.Jogo.DataSorteio.ToString("dd/MM/yyyy")</p>
                                *@

                            }
                            else
                            {
                                <p>Sem sorteios futuros</p>
                            }
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-12 border-bottom w-75 d-flex"></div>
                </div>
                <div class="container">
                    <h3 class="d-flex flex-row justify-content-center my-1 mb-3">Participantes</h3>
                    <div class="row">
                        @foreach (var vol in ViewBag.Volante)
                        {
                            var numerosEscolhidos = vol.NumerosEscolhidos.Split(";");
                            var numerosOrdenadosU = new List<int>();

                            foreach (var numeroEscolhido in numerosEscolhidos)
                            {
                                numerosOrdenadosU.Add(int.Parse(numeroEscolhido));
                            }

                            numerosOrdenadosU.Sort();
                            int acertos = 0;

                            foreach (var numeroSorteado in Model.NumerosSorteados.Split(";"))
                            {
                                foreach (var numeroEscolhido in numerosEscolhidos)
                                {
                                    if (numeroEscolhido == numeroSorteado)
                                    {
                                        acertos++;
                                        break;
                                    }
                                }
                            }

                            <div class="col-md-6 text-center border-bottom border-success mb-3">
                                @foreach (var OrdenadosU in numerosOrdenadosU)
                                {
                                    <p class="numero-escolhido">@OrdenadosU</p>
                                }
                                <div class="row">
                                    <h4 class="col-md-6">@vol.NomeParticipante</h4>
                                    @if (acertos >= 2)
                                    {
                                        <h5 class="col-md-6 fa-blink">Total acertos: @acertos</h5>
                                    }
                                    else if (acertos == 4)
                                    {
                                        <h5 class="col-md-6">Você ganhou na Quaaadraa !</h5>
                                    }
                                    else if (acertos == 5)
                                    {
                                        <h5 class="col-md-6">Você ganhou na Quinaa !!</h5>
                                    }
                                    else if (acertos == 6)
                                    {
                                        <h5 class="col-md-6">Você ganhou a MEGAASEENAAA !!!</h5>
                                    }
                                    else
                                    {
                                        <h5 class="col-md-6">Total acertos: @acertos</h5>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        }
        else
        {
            <h2>Sem resultado</h2>
        }
    </div>
    <div class="col-5 h-50 text-center" id="resultados" style="min-height: 25vh;">
        <h3>Como Jogar</h3>
        <p>A Lotoprize é a maior loterica da EtecVav criada em 2023 com o intuito de fazer novos ricaços, rsrs para jogar basta criar sua conta e fazer sua aposta, temos sorteios diários e todo dia temos novos sortudos(a).</p>
    </div>
    <div class="col-5 h-auto text-center align-content-center" id="numerosMaisSorteados">
        <h3 class="">Faça sua Aposta!</h3>
        <div class="text-center mt-4">
            <a class="nav-link text-light btn bg-success" asp-area="" asp-controller="Volante" asp-action="Create">Faça sua aposta</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
